<div class="container">
  <div class="card" style="width: 18rem;">
    <img [src]="country.flag" class="card-img-top" alt="...">
    <div class="card-body">
      <h5>{{ country.name }}</h5>
      <p>
        <span>Capital: <strong>{{ country.capital }}</strong></span>
      </p>
      <p>
        <span>Region: <strong>{{ country.region }}</strong></span>
      </p>
      <p>
        <span>Population: <strong>{{ country.population }}</strong></span>
      </p>
    </div>
  </div>
</div>
