<div class="container border border-info p-3">
  <h4>Countries:</h4>
  <div>
    <ul class="list-group" *ngIf="loading; else loading">
      <li class="list-group-item " *ngFor="let country of countries"
          [routerLink]="['country/', country.code]"
          routerLinkActive="active">{{ country.name }}</li>
    </ul>
  </div>
  <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
  </ng-template>
</div>

